<h1>Update Post</h1>

<form action= "/posts/<%= post._id %>" method="POST">
    <div>
        <input type="text" placeholder="Perler" name="name" value = "<%= post.name %>" required>
    </div>
    
    <div>
        <input type = "text" placeholder="https://placekitten.com" name="image" value = "<%= post.image %>" required>
    </div>
    
    <div>
        <textarea name="description"><%= post.description %></textarea>
    </div>
    <button type="submit">Submit</button>
</form>