<a href="/new">Create Post</a>
<% posts.forEach(function(post){ %>
    <h3><%= post.name %></h3>
    <a href="/posts/<%= post._id %>"> 
        <img src="<%= post.image %>">
    </a>
    <p><%= post.description %></p>
<% }); %>