<h1>Create New Post</h1>

<form action= "/posts" method="POST">
    <div>
        <input type="text" placeholder="Perler" name="name" required>
    </div>
    
    <div>
        <input type = "text" placeholder="https://placekitten.com" name="image" required>
    </div>
    
    <div>
        <textarea name="description"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>