<% include partials/header %>
    <div class="container">
        <div class="col-sm-8 offset-sm-2">
                <img class="adminpic" src="http://placekitten.com/255/250">
                <h2 style="margin: 25px 0;">Kayden Hunt</h2>
                <p>Age: ?</p>
                <p>Traits: Narcissist.</p>
                <p>Personality: I may switch from cold af to talkative, sums it up pretty well I guess.</p>
                <p>What I like: Plants, snakes, clean air, occult, paranormal, horror, romance, sad trap music, aesthetics.</p>
                <p>Dislike: Shallow people attacking others or being mean for no apparent reason. </p>
            </p>
        </div>
    </div>

<% include partials/footer %>