<!doctype html>

<html> 
    <head>
        
    </head>
    <body>
        <form action="/" method = "post">
            <div>
                <label>Name</label>
                <input type="text" placeholder = "Kawaii Neko" name="name">
            </div>
           <div>
               <label>Image</label>
               <input type="text" placeholder = "https://images.com" name="image">
           </div>
            
            <div>
                <label>Description</label>
                <input type="text" placeholder = "Nya Nya!" name="description">
            </div>
            <button type ="submit">Submit</button>
        </form>
    </body>
</html>