<!doctype html>

<html> 
    <head>
        
    </head>
    <body>
        <form action="/<%= post.id %>/edit" method = "post">
            <div>
                <label>Name</label>
                <input type="text" placeholder = "Kawaii Neko" name="name" value = "<%= post.name %>">
            </div>
           <div>
               <label>Image</label>
               <input type="text" placeholder = "https://images.com" name="image"  value = "<%= post.image %>" >
           </div>
            
            <div>
                <label>Description</label>
                <input type="text" placeholder = "Nya Nya!" name="description" value = "<%= post.description %>">
            </div>
            <button type ="submit">Submit</button>
        </form>
    </body>
</html>